<style>
  html, body {
    height: 100%;
  }

  #map {
    height: 100%;
  }

  .mt-0 {
  margin-top: 10 !important;
  }

  .flex-grow {
    flex: 1 0 auto;
}
    
</style>


<div class="container-fluid d-flex h-100" style="width: 100%"">
  <div class="row my-sm-2" style="width: 100%">
    <div class="flex-grow" id="map"></div>
    <div class="col-sm-3 mx-auto">
      <div class="row align-items-top">
        <div class="col-sm" id="district"></div>
      </div>
      <div class="row mt-5 align-items-top">
        <div class="col-sm" id="info"></div>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript' src='js/table.js'></script>
<script type="text/javascript" src="js/backgroundmap.js"></script>  
<script type="text/javascript" src="js/map.js"></script>  