<style>
  #map {
    height: 980px;
  }

  .mt-0 {
  margin-top: 10 !important;
  }
    
</style>


<div class="container-fluid" style="width: 100%">
  <div class="row my-sm-2">
    <div class="col-sm mx-auto" id="map"></div>
    <div class="col-sm-3 mx-auto">
      <div class="row align-items-top">
        <div class="col-sm" id="district">
          <!-- <p style="height: 350px"></p> -->
        </div>
      </div>
      <div class="row mt-5 align-items-top">
        <div class="col-sm" id="info">
        </div>
      </div>
    </div>

  </div>
</div>

<script type='text/javascript' src='js/table.js'></script>
<script type="text/javascript" src="js/backgroundmap.js"></script>  

<script>
mv_grid_district_id = "{{ site.mv_grid_district_id }}"
color = {"hvmv": "#ff8800", "mvlv": "#008db7", "line": "#9c9c9c"}

// Create Infobox
    var Info = d3.select("#info")
      .append("div")
      .attr("class", "p")
      .style("visibility", "hidden");

  var district = d3.select("#district")
      .append("div")
      .attr("class", "p")
      .style("visibility", "visible");
  d3.json("data/mv_grid_district_" + mv_grid_district_id + ".geojson", function(d) {
    props = d.features[0].properties;
    delete props["area_share"];
    delete props["consumption_per_area"];
    delete props["dea_cnt"];
    delete props["free_area"];
    delete props["gem_clean"];
    delete props["group"];
    delete props["la_area"];
    delete props["la_count"];
    delete props["lv_dea_cnt"];
    delete props["population_density"];
    delete props["subst_sum"];
    delete props["type1"];
    delete props["type1_cnt"];
    delete props["type2"];
    delete props["type2_cnt"];
    delete props["type3"];
    delete props["type3_cnt"];
    delete props["version"];
    delete props["zensus_count"];
    delete props["zensus_density"];
    delete props["gem"];
    var grid_description_table = sidebarTable(props);
      district
        .html("<h3>Medium-voltage grid district {{ site.mv_grid_district_id }}</h3>" + grid_description_table);
  });

  backgroundmap(mv_grid_district_id);

  function plot_nodes(node_data) {

    // Add an SVG element to Leaflet’s overlay pane
    var svg = d3.select(map.getPanes().overlayPane).append("svg")
    var g = svg.append("g").attr("class", "leaflet-zoom-hide");
    var map_lines = svg.append("g").attr("id", "lines");
    var map_points = svg.append("g").attr("id", "points");

    var transform = d3.geoTransform({point: projectPoint}),
    path = d3.geoPath().projection(transform);

    map.on('moveend', mapmove);

    redrawSubset(node_data.features)

    function redrawSubset(subset) {
      path.pointRadius(12);

      var bounds = path.bounds({
        type: "FeatureCollection",
        features: subset
      });

      var offset = 500;
      var topLeft = bounds[0] + offset;
      var bottomRight = [bounds[1][0] + offset, bounds[1][1] + offset];


      svg.attr("width", bottomRight[0] - topLeft[0])
        .attr("height", bottomRight[1] - topLeft[1])
        .style("left", topLeft[0] + "px")
        .style("top", topLeft[1] + "px");


      map_points.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");
      // map_lines.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");

    // Plot nodes
    // // Filter data
    hvmv_trafos = subset.filter( function(d){return d.properties.v_nom == 110} )
    mvlv_trafos = subset.filter( function(d){return d.properties.v_nom == 400} )

    function plot_points(subset, color) {
      var points = map_points.selectAll("path")
      .data(subset, function(d) {
        return d.geometry.coordinates;
      })
      .style("pointer-events", "all")
      .style("stroke-opacity", ".5")
      .style("stroke", color)
      .attr("fill", color)
      .on("mouseover", onmouseover_points)
      .on('mouseout', onmouseout_points);  

    points.enter().append("path");

    points.attr("d", path).attr("class", "points");
    }


    plot_points(hvmv_trafos, color["hvmv"]);
    plot_points(mvlv_trafos, color["mvlv"]);

    }
    function plot_lines(lines_data) {
      edges = map_lines.selectAll("path")
                    .data(lines_data.features)
                    .enter()
                    .append("path")
                    .style("pointer-events", "all")
                    .attr("d", function(d){
                      return path(d)})
                    .attr("class", "lines")
                    .style("fill", color["line"])
        .style("stroke", color["line"])
        .style("stroke-width", 7)
        .on("mouseover", onmouseover_lines)
        .on("mouseout", onmouseout_lines)
        ;

        return lines_data;
    }

    lines_data = d3.json("data/ding0/{{ site.mv_grid_district_id }}/mv_visualization_line_data_{{ site.mv_grid_district_id }}.geojson", plot_lines)                
    mapmove();

    function mapmove(e) {
        //remove all points
        d3.selectAll(".points").remove();
        d3.selectAll(".lines").remove();
        redrawSubset(node_data.features);
        plot_lines(lines_data);
  }
      
};

d3.json("data/ding0/{{ site.mv_grid_district_id }}/mv_visualization_node_data_{{ site.mv_grid_district_id }}.geojson", plot_nodes)



function projectPoint(x, y) {
      var point = map.latLngToLayerPoint(new L.LatLng(y, x));
      this.stream.point(point.x, point.y);
    }

function onmouseover_points(d, i) {
        var table_data = d.properties;      
        delete table_data["name"];
        delete table_data["in_building"];
        var table_str = sidebarTable(table_data);

        Info.style("visibility", "visible")
        .html("<h5>" + d.properties.name + "</h5>" + table_str);
        d3.select(this)
          .transition()
          .duration(200)
          .style("fill-opacity", ".7")
          .style("stroke-width", 3);
      };
  function onmouseover_lines(d, i) {

        var table_data = d.properties;
        const index = d.properties.index;
        delete table_data["lv_grid_id"];
        delete table_data["coordinates_1"];
        delete table_data["index"];
        delete table_data["in_building"];
        var table_str = sidebarTable(table_data);

        // Info.append('table');

        Info.style("visibility", "visible")
        .html(("<h5>" + index + "</h5>" + table_str));
        d3.select(this)
          .transition()
          .duration(200)
          .style("stroke-width", "9")
          .style("stroke-opacity", ".7")
          .text("asd");
      };

  function onmouseout_points(d, i) {
        Info.style('visibility', 'hidden');
        d3.select(this)
          .transition()
          .duration(200)
          .style("fill-opacity", "1")
          .style("stroke-width", "0")
        Info.style('visibility', 'hidden');
      };
  function onmouseout_lines(d, i) {
      Info.style('visibility', 'hidden');
      d3.select(this)
        .transition()
        .duration(200)
        .style("stroke-opacity", "1")
        .style("stroke-width", "7");
    };
</script>